{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block body_class %} page page-template {% endblock %}

{% block main_body %}
<div class="csi-container ">
    <!-- ***  ADD YOUR SITE CONTENT HERE *** -->

    <!--Banner-->
    <section>
        <div class="csi-banner csi-banner-inner">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading-area">
                                <div class="csi-heading csi-heading-white">
                                    <h2 class="title">About Edumaster</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="icon-home6"></i>Home</a></li>
                                    <li class="active">About</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div>
                <!-- //.container -->
            </div>
        </div>
    </section>
    <!--Banner END-->

    <!--ABOUT-->
    <section>
        <div id="csi-about" class="csi-about">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="csi-about-img">
                                <img src="{% static 'assets/img/about.png' %}" alt="about">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="csi-about-content">
                                <h4 class="subtitle">We believe Learning is the source of human progress.</h4>
                                <p class="text">
                                    It has the power to transform our world from illness to health, from poverty to prosperity, from conflict to peace. It has the power to transform our lives for ourselves, for our families, for our communities. No matter who we are or where we are, learning empowers us to change and grow and redefine what’s possible. That’s why access to the best learning is a right, not a privilege. And that’s why EduMaster is here. We partner with the best institutions to bring the best learning to every corner of the world. So that anyone, anywhere has the power to transform their life through learning.
                                </p>
                                <p class="text">
                                    EduMaster helps organizations of all kinds prepare for the ever-evolving future of work. Our curated collection of top-rated business and technical courses gives companies, governments, and nonprofits the power to develop in-house expertise and satisfy employees’ hunger for learning and development.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--ABOUT END-->


    <!--TEACHERS-->
    <section>
        <div id="csi-teachers" class="csi-teachers">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading">
                                <h2 class="title">Expert Teachers</h2>
                                <h3 class="subtitle">Some Special Teachers From The Industry!</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher1.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Nancy Margrott</a></h2>
                                    <h4 class="designation">Software Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher3.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Jessica walt </a></h2>
                                    <h4 class="designation">Software Developer Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher2.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Bratt</a></h2>
                                    <h4 class="designation">Material Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher1.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Nancy Margrott</a></h2>
                                    <h4 class="designation">Corrosion Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher2.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#"></a>Bratt</h2>
                                    <h4 class="designation">Software Designer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher3.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Jessica Walt</a></h2>
                                    <h4 class="designation">Data Scientist</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--TEACHERS END-->

    <!--testimonials-->
    <section>
        <div id="csi-testimonials" class="csi-testimonials csi-testimonials-inner">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading csi-heading-white">
                                <h2 class="title">Testimonials</h2>
                                <h3 class="subtitle">Some Special Teachers From The Industry!</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="testi-single">
                                <div class="author-area">
                                    <figure>
                                        <a class="author-img" href="#"><img src="{% static 'assets/img/client1.jpg' %}" alt="Client"/></a>
                                        <figcaption>
                                            <i class="icofont icofont-quote-left"></i>
                                        </figcaption>
                                    </figure>
                                    <div class="author-info">
                                        <h4 class="title"><a href="#">Olivia</a></h4>
                                        <p class="subtitle">President</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        EduMaster instructors are passionate about sharing their knowledge and helping students. They’re experts who stay active in their fields in order to deliver the most up-to-date content.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="testi-single">
                                <div class="author-area">
                                    <figure>
                                        <a class="author-img" href="#"><img src="{% static 'assets/img/client2.jpg' %}" alt="Client"/></a>
                                        <figcaption>
                                            <i class="icofont icofont-quote-left"></i>
                                        </figcaption>
                                    </figure>
                                    <div class="author-info">
                                        <h4 class="title"><a href="#">Jennifer</a></h4>
                                        <p class="subtitle">Vice President</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        As a child in a Turkish village, EduMaster’s founder saw first-hand what’s possible when learning is within reach. James found opportunities online and was inspired to help others do the same.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="testi-single">
                                <div class="author-area">
                                    <figure>
                                        <a class="author-img" href="#"><img src="{% static 'assets/img/client3.jpg' %}" alt="Client"/></a>
                                        <figcaption>
                                            <i class="icofont icofont-quote-left"></i>
                                        </figcaption>
                                    </figure>
                                    <div class="author-info">
                                        <h4 class="title"><a href="#">Emma</a></h4>
                                        <p class="subtitle">Director</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        Talent is universal, but opportunities are not. With access to online learning resources and instruction, anyone, anywhere, can gain skills and transform their lives in meaningful ways.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="testi-single">
                                <div class="author-area">
                                    <figure>
                                        <a class="author-img" href="#"><img src="{% static 'assets/img/client1.jpg' %}" alt="Client"/></a>
                                        <figcaption>
                                            <i class="icofont icofont-quote-left"></i>
                                        </figcaption>
                                    </figure>
                                    <div class="author-info">
                                        <h4 class="title"><a href="#">Sophia</a></h4>
                                        <p class="subtitle">Manager</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>
                                        EduMaster believes the world’s best teachers aren’t always found in classrooms. Our instructors come from virtually every country and offer courses in 65+ languages on practically any topic.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.testimonials-->


</div> <!--//.csi SITE CONTAINER-->
{% endblock %}
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->