{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

<!--  SITE TITLE-->
    <title>Course Registration | {% block title %} Home {% endblock %}</title>

    <meta name="description" content="Education Website | Course Registration" />
    <meta name="keywords" content="Education, Academy, University, Courses" />
    <meta name="author" content="Raza Hassan" />

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Course Registration" />
    <meta property="og:url" content="localhost:8000" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Course Registration" />
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'assets/img/opengraph/fbphoto.jpg' %}" /> <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />  <!-- this icon shows in browser toolbar -' %}->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />  this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'assets/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/img/favicon/manifest.json' %}">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css' %}" media="all" />

    <!-- ICOFONT AWESOME -->
    <link rel="stylesheet" href="{% static 'assets/libs/icofont/css/icofont.css' %}" media="all" />


    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800%7cMerriweather:300,400,400i,700,900"/>


    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="{% static 'assets/libs/owlcarousel/owl.carousel.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'assets/libs/owlcarousel/owl.theme.default.min.css' %}" media="all" />


    <!-- MASTER  STYLESHEET  -->
    <link id="csi-master-style" rel="stylesheet" href="{% static 'assets/css/style-default.min.css' %}" media="all" />

    <!-- MODERNIZER CSS  -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>

</head>
<body class="{% block body_class %} home {% endblock%}">
{% include 'header.html' %}

{% block main_body %}
{% endblock %}

{% include 'footer.html' %}

<!-- JQUERY  -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

<!-- BOOTSTRAP JS  -->
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.min.js' %}"></script>


<!-- SKILLS SCRIPT  -->
<script src="{% static 'assets/libs/jquery.validate.js' %}"></script>

<!-- Owl Carousel  -->
<script src="{% static 'assets/libs/owlcarousel/owl.carousel.min.js' %}"></script>


<!-- SMOTH SCROLL -->
<script src="{% static 'assets/libs/jquery.smooth-scroll.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery.easing.min.js' %}"></script>

<!-- CUSTOM SCRIPT  -->
<script src="{% static 'assets/js/custom.script.js' %}"></script>

</body>
</html>