{% extends 'base.html' %}
{% load static %}

    {% block title %} Courses {% endblock %}
{% block body_class %} page page-template {% endblock %}

{% block main_body %}
<div class="csi-container ">
    <!-- ***  ADD YOUR SITE CONTENT HERE *** -->

    <!--Banner-->
    <section0>
        <div class="csi-banner csi-banner-inner">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading-area">
                                <div class="csi-heading csi-heading-white">
                                    {% if user.is_authenticated %}
                                    <h2 class="title">Courses you're enrolled in!</h2>
                                    {% else %}
                                    <h2 class="title">Explore all Courses</h2>
                                    {% endif %}
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="icon-home6"></i>Home</a></li>
                                    <li class="active">Courses</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div>
                <!-- //.container -->
            </div>
        </div>
    </section0>
    <!--Banner END-->

    <!--courses-->
    <section>
        <div id="csi-teachers" class="csi-teachers">
            <div class="csi-inner">
                <div class="container">
                    <div class="csi-course-content">
                        <div class="row">
                            {% if user.is_authenticated %}
                                {% for course in courses %}
                                    <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        {% if forloop.counter == 1 %}
                                        <img src="{% static 'assets/img/courses/cours1.jpg' %}" alt="cours">
                                        {% elif forloop.counter == 2 %}
                                        <img src="{% static 'assets/img/courses/cours2.jpg' %}" alt="cours">
                                        {% elif forloop.counter == 3 %}
                                        <img src="{% static 'assets/img/courses/cours3.jpg' %}" alt="cours">
                                        {% elif forloop.counter == 4 %}
                                        <img src="{% static 'assets/img/courses/cours4.jpg' %}" alt="cours">
                                        {% else %}
                                        <img src="{% static 'assets/img/courses/cours5.jpg' %}" alt="cours">
                                        {% endif %}

                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">{{course.title}}</a></h3>
                                        <p class="text">{{course.desc}}</p>
                                        <ul class="list-unstyled">
                                            <li>{{course.duration}}</li>
                                            <li>{{course.classes}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                                {% endfor %}
                            {% else %}
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours1.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Web Designing</a></h3>
                                        <p class="text">Learn the #1 most important building block of all designing
                                        Draw objects out of your head
                                        Draw realistic light and shadow
                                        Understand the fundamentals of designing</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours2.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Material Engineering</a></h3>
                                        <p class="text">Materials engineering work with metals, ceramics, and plastics to create new materials.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours3.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Process Engineering</a></h3>
                                        <p class="text">Process engineering is the understanding and application of the fundamental principles and laws of nature</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours4.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Mobile Application</a></h3>
                                        <p class="text">This course introduces students to programming technologies, design and development related to mobile applications</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours5.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Corrosion Engineering</a></h3>
                                        <p class="text">A corrosion engineering plays a vital role in keeping machinery in good condition.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours1.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Web Development</a></h3>
                                        <p class="text">introduced to planning and designing effective web pages; implementing web pages by writing HTML and CSS code;</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->

                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours3.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Process Engineering</a></h3>
                                        <p class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium natus error</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours4.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Mobile Hardware </a></h3>
                                        <p class="text">Basics of mobile communication. ... Assembling and disassembling of various models of mobile phones. Study of various tools and equipment used in mobile phone repairs. Study of parts inside a mobile phone.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours5.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Photoshop</a></h3>
                                        <p class="text">cover the basics of saving and storing image files and defining the various processes used for image editing</p>
                                        <ul class="list-unstyled">
                                            <li>2 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours3.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Android</a></h3>
                                        <p class="text">This course introduces you to the design and implementation of Android applications for mobile devices. </p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours4.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Flutter</a></h3>
                                        <p class="text">Flutter is an open source Framework from Google to develop cross-platform apps. This means you only need one codebase to write iOS and android apps! </p>
                                        <ul class="list-unstyled">
                                            <li>3 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours5.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Computer Programming basics</a></h3>
                                        <p class="text">Basic concepts of computer programming are introduced, starting with the notion of an algorithm. Emphasis is on developing the ability to write programs to solve practical computational problems</p>
                                        <ul class="list-unstyled">
                                            <li>2 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours3.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Python</a></h3>
                                        <p class="text">Python is a language with a simple syntax, and a powerful set of libraries. It is an interpreted language, with a rich programming environment, including a robust debugger and profiler.</p>
                                        <ul class="list-unstyled">
                                            <li>2 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours4.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">JAVA</a></h3>
                                        <p class="text">This Java Programming course provides extensive experience with Java and its object-oriented features.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours5.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="#"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="#">Machine Learning</a></h3>
                                        <p class="text">The main goal of this course is to study and understand the basic concepts and mechanisms of several well-known and well-applied machine learning approaches.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="login">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            {% endif %}
                        </div> <!-- //.Course Content Area-->
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--TEACHERS END-->

</div> <!--//.csi SITE CONTAINER-->
{% endblock %}
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->