{% load static %}
<!--FOOTER-->
    <footer>
        <div id="csi-footer" class="csi-footer">
            <div class="csi-footer-inner">
                <div class="csi-footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="csi-footer-single">
                                    <a class="logo" href="#"><img src="{% static 'assets/img/logo-footer.png' %}" alt="Logo"></a>
                                    <p class="about-text">
                                        EduMaster offer a range of learning opportunities—from hands-on projects and courses to job-ready certificates and degree programs.
                                    </p>
                                    <address>
                                        51 Francis Street, Darlinghurst <br>
                                        NSW 2010, United States
                                    </address>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-phone"></i>+61 1900 654 321</li>
                                        <li><i class="fa fa-envelope"></i>edumaster@edu.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="csi-footer-single">
                                    <h2 class="title">The Education</h2>
                                    <ul class="list-unstyled">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="about">About</a></li>
                                        <li><a href="teacher-list">Teachers</a></li>
                                        <li><a href="courses-list">Courses</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="csi-footer-single">
                                    <h2 class="title">Cources</h2>
                                    <ul class="list-unstyled">
                                        <li><a href="courses-list">Programming</a></li>
                                        <li><a href="courses-list">Data Science</a></li>
                                        <li><a href="courses-list">Web Development</a></li>
                                        <li><a href="courses-list">Internet of Things</a></li>
                                        <li><a href="courses-list">Interview Placement</a></li>
                                        <li><a href="courses-list">Courses in Education</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="csi-copyright">
                            <p class="text">EduMaster is proudly developed by Raza Hasan</p>
                            <div class="csi-social-area">
                                <ul class="list-inline csi-social">
                                    <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-instagram"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- //.CONTAINER -->
                </div>
            </div>
            <!-- //.footer Middle -->
        </div>
    </footer>
    <!--FOOTER END-->
