{% extends 'base.html' %}
{% load static %}

{% block main_body %}
<div class="csi-container ">
    <!-- ***  ADD YOUR SITE CONTENT HERE *** -->

    <!--SLIDER-->
    <section>
        <div class="csi-slider csi-simple-slider">
            <div class="csi-banner-style">
                <div class="csi-inner">

                    <div id="csi-main-slider" class="owl-carousel">

                        <!--SLIDER ITEM 1-->

                        <div class="csi-item-common csi-item-left">

                            <div class="col-sm-12g">
                                <div class="slider-text-single">
                                    <figure>
                                        <img src="{% static 'assets/img/slider2.jpg' %}" alt="slider"/>
                                        <figcaption>
                                            <div class="figcaption-inner csi-fadeInRight-img">
                                                <div class="csi-container">
                                                    <div class="csi-hover-link">
                                                        <div class="csi-vertical">
                                                            <div class="csi-banner-content">
                                                                <h3 class="csi-subtitle">Admission ‘21</h3>
                                                                <h2 class="csi-title">ARE YOU READY?</h2>
                                                                <p class="text">We envision a world where anyone, anywhere has the power to transform their life through learning. </p>
                                                                <div class="btn-area">
                                                                    <a class="csi-btn" href="signup">Resister now</a>
                                                                    <a class="csi-btn csi-btn-brand" href="courses-list">Our Cources</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div> <!--//.col-->
                        </div>
                        <!--SLIDER ITEM 1 End-->

                        <!--SLIDER ITEM 2-->
                        <div class="csi-item-common">
                            <div class="col-sm-12g">
                                <div class="slider-text-single">
                                    <figure>
                                        <img src="{% static 'assets/img/banner-bg.jpg' %}" alt="slider"/>
                                        <figcaption>
                                            <div class="figcaption-inner-center csi-fadeInU-img">
                                                <div class="csi-container">
                                                    <div class="csi-hover-link">
                                                        <div class="csi-vertical">
                                                            <div class="csi-banner-content">
                                                                <h3 class="csi-subtitle">Admission ‘17</h3>
                                                                <h2 class="csi-title">ARE YOU READY?</h2>
                                                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore dolore adipisicing elit, sed do eiusmod tempor </p>
                                                                <div class="btn-area">
                                                                    <a class="csi-btn" href="signup">Resister now</a>
                                                                    <a class="csi-btn csi-btn-brand" href="courses-list">Our Cources</a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div> <!--//.col-->
                        </div>
                        <!--SLIDER ITEM 2 End-->

                        <!--SLIDER ITEM 3-->
                        <div class="csi-item-common">
                            <div class="col-sm-12g">
                                <div class="slider-text-single">
                                    <figure>
                                        <img src="{% static 'assets/img/slider3.jpg' %}" alt="slider"/>
                                        <figcaption>
                                            <div class="figcaption-inner2 csi-fadeInLeft-img">
                                                <div class="csi-container">
                                                    <div class="csi-hover-link">
                                                        <div class="csi-vertical">
                                                            <div class="csi-banner-content">
                                                                <h3 class="csi-subtitle">Admission ‘17</h3>
                                                                <h2 class="csi-title">ARE YOU READY?</h2>
                                                                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore dolore adipisicing elit, sed do eiusmod tempor </p>
                                                                <div class="btn-area">
                                                                    <a class="csi-btn" href="signup">Resister now</a>
                                                                    <a class="csi-btn csi-btn-brand" href="courses-list">Our Cources</a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div> <!--//.col-->
                        </div>
                        <!--SLIDER ITEM 3 End-->
                    </div> <!--//.csi-main-slider-->
                    <!-- //.CONTAINER -->
                </div>
                <!-- //.INNER -->
            </div>
        </div>
    </section>
    <!--SLIDER END-->

    <!--ABOUT-->
    <section>
        <div id="csi-about" class="csi-about">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="csi-about-img">
                                <img src="{% static 'assets/img/about.png' %}" alt="about">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="csi-heading">
                                <h2 class="title">About Edumaster</h2>
                            </div>
                            <div class="csi-about-content">
                                <h4 class="subtitle">We believe Learning is the source of human progress.</h4>
                                <p class="text">
                                    It has the power to transform our world
                                    from illness to health,
                                    from poverty to prosperity,
                                    from conflict to peace.

                                    It has the power to transform our lives
                                    for ourselves,
                                    for our families,
                                    for our communities.

                                    No matter who we are or where we are,
                                    learning empowers us to change and grow
                                    and redefine what’s possible.
                                    That’s why access to the best learning is a right, not a privilege.

                                    And that’s why EduMaster is here.
                                    We partner with the best institutions
                                    to bring the best learning
                                    to every corner of the world.

                                    So that anyone, anywhere has the power to
                                    transform their life through learning.
                                </p>
                                <a class="csi-btn" href="about">Read More</a>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--ABOUT END-->


    <!--SERVICE-->
    <section>
        <div id="csi-services" class="csi-services">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="csi-single-service">
                                <span class="icon"><i class="icofont icofont-ui-video-play"></i></span>
                                <h2 class="title"><a href="#">Free Tutorials</a></h2>
                                <p>You can watch free tutorials of different courses that are available for everyone</p>
                                <a class="csi-btn-simple" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="csi-single-service">
                                <span class="icon"><i class="icofont icofont-education"></i></span>
                                <h2 class="title"><a href="#">100+ Courses</a></h2>
                                <p>There are 100+ courses, some are paid so some are free and these courses are prepared from our qualified teachers.</p>
                                <a class="csi-btn-simple" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="csi-single-service">
                                <span class="icon"><i class="icofont icofont-book-alt"></i></span>
                                <h2 class="title"><a href="#">180k Books Available</a></h2>
                                <p>You can read your favourite books without any charge and hidden FUP from our massive library of 180k books.</p>
                                <a class="csi-btn-simple" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--SERVICE END-->



    <!--COURSES-->
    <section>
        <div id="csi-courses" class="csi-courses">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading">
                                <h2 class="title">Explore all Courses</h2>
                                <h3 class="subtitle">We have step by step tutorials & instructions</h3>
                            </div>
                        </div>
                    </div>
                    <div class="csi-course-content">
                        <div class="row">
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours1.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="courses-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="courses-list">Web Designing</a></h3>
                                        <p class="text">Learn the #1 most important building block of all designing
                                        Draw objects out of your head
                                        Draw realistic light and shadow
                                        Understand the fundamentals of designing</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="signup">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours2.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="courses-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="courses-list">Material Engineering</a></h3>
                                        <p class="text">Materials engineering work with metals, ceramics, and plastics to create new materials.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="signup">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours3.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="courses-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="courses-list">Process Engineering</a></h3>
                                        <p class="text">Process engineering is the understanding and application of the fundamental principles and laws of nature</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="signup">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours4.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="courses-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="courses-list">Mobile Application</a></h3>
                                        <p class="text">This course introduces students to programming technologies, design and development related to mobile applications</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="signup">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours5.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="courses-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="courses-list">Corrosion Engineering</a></h3>
                                        <p class="text">A corrosion engineering plays a vital role in keeping machinery in good condition.</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="signup">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                            <div class="csi-single-course">
                                <div class="csi-single-course-inner">
                                    <figure>
                                        <img src="{% static 'assets/img/courses/cours1.jpg' %}" alt="cours">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="courses-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="course-info">
                                        <h3 class="title"><a href="courses-list">Web Development</a></h3>
                                        <p class="text">introduced to planning and designing effective web pages; implementing web pages by writing HTML and CSS code;</p>
                                        <ul class="list-unstyled">
                                            <li>4 Months(16weeks)</li>
                                            <li>3 sessions of 2 hours in a week.</li>
                                        </ul>
                                        <a class="csi-btn registration-btn" href="signup">Registration</a>
                                    </div>
                                </div>
                            </div> <!-- //.Single Course -->
                        </div> <!-- //.Course Content Area-->
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--COURSES END-->

    <!--REGISTRATION-->
    <section>
        <div id="csi-registration" class="csi-registration">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-md-7">
                            <div class="csi-heading-registration">
                                <h3 class="subtitle">You’re Learning Free</h3>
                                <h2 class="title">Started Today!</h2>
                            </div>
                            <div class="csi-registration-info">
                                <p class="text">Join us today, for comprehensive learning by our experienced and qualified teachers</p>
                                <a class="csi-btn registration-btn" href="signup">Registration</a>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--REGISTRATION END-->



    <!--TEACHERS-->
    <section>
        <div id="csi-teachers" class="csi-teachers">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading">
                                <h2 class="title">Expert Teachers</h2>
                                <h3 class="subtitle">Some Special Teachers From The Industry!</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="csi-owlteachers" class="owl-carousel csi-owlteachers">
                            <div class="item">
                                <div class="csi-single-teacher">
                                    <figure>
                                        <img src="{% static 'assets/img/teachers/teacher1.jpg' %}" alt="">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="teacher-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="teacher-info">
                                        <h2 class="name"><a href="teacher-list">Nancy Margrot</a></h2>
                                        <h4 class="designation">Software Engineer</h4>
                                        <ul class="list-inline ">
                                            <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!--//.Item-->
                            <div class="item">
                                <div class="csi-single-teacher">
                                    <figure>
                                        <img src="{% static 'assets/img/teachers/teacher2.jpg' %}" alt="">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="teacher-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="teacher-info">
                                        <h2 class="name"><a href="teacher-list">Bratt</a></h2>
                                        <h4 class="designation">Software Developer Engineer</h4>
                                        <ul class="list-inline ">
                                            <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!--//.Item-->
                            <div class="item">
                                <div class="csi-single-teacher">
                                    <figure>
                                        <img src="{% static 'assets/img/teachers/teacher3.jpg' %}" alt="">
                                        <figcaption>
                                            <div class="csi-hover-link">
                                                <div class="csi-vertical">
                                                    <a href="teacher-list"><i class="icofont icofont-plus"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                    <div class="teacher-info">
                                        <h2 class="name"><a href="teacher-list">Jessica walt</a></h2>
                                        <h4 class="designation">Software Application Developer </h4>
                                        <ul class="list-inline ">
                                            <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                            <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!--//.Item-->
                        </div><!--l//#csi-OWL TESTIMONIAL-->
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--TEACHERS END-->


    <!--TESTIMONIALS-->
    <section>
        <div id="csi-testimonials" class="csi-testimonials">
            <div class="csi-inner">
                <div class="container">
                    <div id="csi-owltestimonial" class="owl-carousel csi-owltestimonial">

                        <div class="item">
                            <!--Testimonial single-->
                            <div class="csi-testi-single">
                                <figure class="csi-client-image">
                                    <img src="{% static 'assets/img/client1.jpg' %}" alt="testpersion1"/>
                                </figure>
                                <div class="testi-info-area">
                                    <i class="icofont icofont-quote-left"></i>
                                    <p class="csi-review">
                                        EduMaster is an online learning platform with more than 100,000 video courses. Some courses are free, but all are relatively inexpensive. Students receive guidance from an experienced instructor and have lifetime access to any course. Courses are available in 65 languages. Topics include business, finance, development, information technology, design, music and fitness.
                                    </p>
                                    <h4 class="csi-client-name">Jonathon Doe</h4>
                                    <h5 class="csi-client-des">Student</h5>
                                </div>
                            </div> <!--//.Testimonial single-->
                        </div> <!--//.Item-->
                        <div class="item">
                            <!--Testimonial single-->
                            <div class="csi-testi-single">
                                <figure class="csi-client-image">
                                    <img src="{% static 'assets/img/client2.jpg' %}" alt="testpersion"/>
                                </figure>
                                <div class="testi-info-area">
                                    <i class="icofont icofont-quote-left"></i>
                                    <p class="csi-review">
                                        Many of my coworkers choose to use EduMaster for continuing education. I feel it has the best selection, training and curriculum vs others I have tried. Yes, the courses may be longer than others, but they're more detailed.
                                    </p>
                                    <h4 class="csi-client-name">Jennifer</h4>
                                    <h5 class="csi-client-des">Student</h5>
                                </div>
                            </div> <!--//.Testimonial single-->
                        </div> <!--//.Item-->
                        <div class="item">
                            <!--Testimonial single-->
                            <div class="csi-testi-single">
                                <figure class="csi-client-image">
                                    <img src="{% static 'assets/img/client3.jpg' %}" alt="testpersion"/>
                                </figure>
                                <div class="testi-info-area">
                                    <i class="icofont icofont-quote-left"></i>
                                    <p class="csi-review">
                                        I'm in the middle of taking two different EduMaster courses ... and both are excellent (IMHO). I know that some people have had bad experiences with EduMaster courses ... So some are good and some not so good.
                                    </p>
                                    <h4 class="csi-client-name">Rose</h4>
                                    <h5 class="csi-client-des">Student</h5>
                                </div>
                            </div> <!--//.Testimonial single-->
                        </div> <!--//.Item-->
                    </div><!--l//#csi-OWL TESTIMONIAL-->
                </div>
            </div>
        </div>
    </section>
    <!--TESTIMONIALS END-->



    <!--news-->
    <section>
        <div id="csi-news" class="csi-news">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading">
                                <h2 class="title">News Updates</h2>
                                <h3 class="subtitle">Our Latest Education News Updates Don't Miss Out!</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-news-area">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="csi-single-news csi-featured-news">
                                            <figure>
                                                <a href="#"><img src="{% static 'assets/img/news/news1' %}" alt="featured event"></a>
                                                <figcaption>
                                                    <div class="figcaption">
                                                    </div>
                                                    <div class="news-info">
                                                        <h4 class="categori"><a href="#">Curriculam</a></h4>
                                                        <h3 class="title"><a href="#">Introducing Annual Fest: The best crowdfunding Fest ever</a></h3>
                                                        <ul class="list-inline">
                                                            <li>by<a href="#"> Rayhan Arif</a></li>
                                                            <li><a href="#"> May 14, 2021</a></li>
                                                        </ul>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="csi-single-news csi-single-normal">
                                            <div class="news-info">
                                                <h4 class="categori"><a href="#">Education</a></h4>
                                                <h3 class="title"><a href="#">Introducing New Course: A new course on BioTech</a></h3>
                                                <ul class="list-inline">
                                                    <li>by<a href="#"> Russel - Teacher</a></li>
                                                    <li><a href="#"> June 14, 2021</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="csi-single-news csi-single-normal">
                                            <div class="news-info">
                                                <h4 class="categori"><a href="#">Curriculam</a></h4>
                                                <h3 class="title"><a href="#">Introducing Annual Fest: The best crowdfunding Fest ever</a></h3>
                                                <ul class="list-inline">
                                                    <li>by<a href="#"> Adnan Khan</a></li>
                                                    <li><a href="#"> June 24, 2021</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </section>
    <!--news END-->


    <!--Subscribe-->
    <section>
        <div id="csi-subscribtion" class="csi-subscribtion">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading">
                                <h2 class="title">Subscription</h2>
                                <h3 class="subtitle">Dont Miss Out on the Latest Education Master Updates</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <div class="csi-subscribe-area">
                                <p class="text">If you want to receive the latest news,<br> please subscribe us.</p>
                                <div class="subscribe-form">
                                    <form class="subscribe-form-action csi-subscribe-form" action="#">
                                        <div class="form-group csi-subscribe-input">
                                            <input type="email" id="subscribe" class="csi-input csi-input-form form-control" required="required" placeholder="Enter Email Address ...">
                                        </div>
                                        <div class="form-group csi-subscribe-btn">
                                            <button class="csi-btn csi-submit" name="csi-submit" type="submit">Subscribe <i class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--Subscribe END-->





</div> <!--//.csi SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
{% endblock %}
