{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
    </head>

    <body>
        <div class="container">
          <h1>Sign Up</h1>
            <h5 style="color: white; margin-bottom: 12px;">{{msg}}</h5>
            <form method="post" action="signup">
                {% csrf_token %}
                <label>Full Name</label><br>
                <input type="text" name="name"><br>
                <label>Email Address</label><br>
                <input type="email" name="email"><br>
                <label>Date of Birth</label><br>
                <input type="date" name="dob"><br>
                <label>Father's Name</label><br>
                <input type="text" name="fname"><br>
                <label>Mother's Name</label><br>
                <input type="text" name="mname"><br>
                <label>Mobile Number</label><br>
                <input type="text" name="mob"><br>

                <label>Password</label><br>
                <input type="password" name="password"><br>
                <button type="submit" style="cursor: pointer">Create Account</button>
            </form>
        </div>
    </body>
</html>