{% extends 'base.html' %}
{% load static %}

{% block title %} Teachers {% endblock %}
{% block body_class %} page page-template {% endblock %}

{% block main_body %}

<div class="csi-container ">
    <!-- ***  ADD YOUR SITE CONTENT HERE *** -->

    <!--Banner-->
    <section>
        <div class="csi-banner csi-banner-inner">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading-area">
                                <div class="csi-heading csi-heading-white">
                                    <h2 class="title">Expert Teachers</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="icon-home6"></i>Home</a></li>
                                    <li class="active">Teachers</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div>
                <!-- //.container -->
            </div>
        </div>
    </section>
    <!--Banner END-->


    <!--TEACHERS-->
    <section>
        <div id="csi-teachers" class="csi-teachers">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher1.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Nancy Margrott</a></h2>
                                    <h4 class="designation">Software Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher3.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Jessica walt </a></h2>
                                    <h4 class="designation">Software Developer Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher2.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Bratt</a></h2>
                                    <h4 class="designation">Material Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher1.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Nancy Margrott</a></h2>
                                    <h4 class="designation">Corrosion Engineer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher2.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#"></a>Bratt</h2>
                                    <h4 class="designation">Software Designer</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="csi-single-teacher">
                                <figure>
                                    <img src="{% static 'assets/img/teachers/teacher3.jpg' %}" alt="">
                                    <figcaption>
                                        <div class="csi-hover-link">
                                            <div class="csi-vertical">
                                                <a href="#"><i class="icofont icofont-plus"></i></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="teacher-info">
                                    <h2 class="name"><a href="#">Jessica Walt</a></h2>
                                    <h4 class="designation">Data Scientist</h4>
                                    <ul class="list-inline ">
                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                        <li><a href="#"><i class="icofont icofont-social-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!--//.single-teacher-->
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--TEACHERS END-->

</div> <!--//.csi SITE CONTAINER-->
{% endblock %}
